body {
  font-family: "Montserrat", sans-serif;
  background-color: antiquewhite;
}

body #select-form {
  margin: 2em auto;
  padding: 1em;
  border-radius: 5px;
  box-shadow: 0px 3px 15px 5px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  transition: 0.2s;
}

body #select-form > div {
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

body #select-form > div input,
body #select-form > div select {
  margin-top: 1em;
}

body #select-form .input-files {
  border-bottom: solid 1px gray;
}

body #select-form .input-files input[type="file"] {
  display: none;
}

body #select-form .input-files label {
  background-color: rgba(192, 239, 245, 0.692);
  border: 1px solid #232323;
  position: relative;
  font-size: 14px;
  letter-spacing: 0.1em;
  padding: 5px 10px;
  transition: 0.2s ease-in-out;
  cursor: pointer;
  box-sizing: border-box;
  width: 200px;
}

body #select-form .input-files__input-hidden {
  visibility: hidden;
}

body #select-form .input-files__input-warn {
  visibility: visible;
  color: red;
}

body #select-form .select-input {
  position: relative;
}

body #select-form .select-input::after {
  content: "";
  position: absolute;
  right: 15px;
  top: 50%;
  transform: rotate(45deg);
  border-bottom: solid 1px gray;
  border-right: solid 1px gray;
  z-index: 1;
  text-align: center;
  width: 10px;
  height: 10px;
  pointer-events: none;
  box-sizing: border-box;
}

body #select-form .select-input select {
  appearance: none;
  padding: 10px 35px 10px 15px;
}

body #parse-form {
  margin: 2em auto;
  padding: 1.5em;
  margin-top: 2em;
  border-radius: 5px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
  background-color: #ffffff;
}

body #parse-form > div {
  display: flex;
  margin-top: 1em;
}

body #parse-form .fields {
  flex-direction: column;
}

body #parse-form .fields__line {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1em;
}

body #parse-form .fields__line-center {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
}

body #parse-form .fields__line-left input {
  margin-top: 1em;
  margin-left: 1em;
}

body #parse-form .fields__checkboxes .fields__checkbox {
  display: flex;
  align-items: center;
  margin-top: 1em;
}

body #parse-form .fields__checkboxes input[type="checkbox"] {
  margin-right: 1em;
}

body #parse-form .fields__checkboxes input[type="radio"] {
  margin-right: 1em;
  margin-top: 0;
}

body #parse-form .fields__color {
  display: flex;
  align-items: center;
}

body #parse-form .fields__color span {
  width: 15px;
  height: 15px;
  border-radius: 5px;
  display: inline-block;
}

body #parse-form .fields input[type="file"] {
  display: none;
}

body #parse-form .fields .input-file {
  width: 200px;
  background-color: rgba(192, 239, 245, 0.692);
  border: 1px solid #232323;
  position: relative;
  font-size: 14px;
  letter-spacing: 0.1em;
  padding: 5px 10px;
  transition: 0.2s ease-in-out;
  cursor: pointer;
  font-size: 14px;
  box-sizing: border-box;
}

body #parse-form .buttons {
  justify-content: space-between;
  max-width: 80%;
  margin: 2em auto 0;
}

body #parse-form .refs {
  justify-content: center;
}

body #parse-form .refs a {
  margin-left: 0.2em;
}

body input[type="submit"],
body button,
body select {
  font-family: "Montserrat", sans-serif;
  color: #232323;
  background: transparent;
  border: 1px solid #232323;
  position: relative;
  letter-spacing: 0.1em;
  padding: 0.5em 1em;
  cursor: pointer;
  outline: none;
  width: 200px;
  box-sizing: border-box;
}

body input[type="text"],
body input[type="number"],
body input[type="email"],
body input[type="date"],
body input[type="password"],
body textarea {
  font-family: "Montserrat", sans-serif;
  color: #232323;
  background: transparent;
  border: 1px solid #232323;
  position: relative;
  padding: 0.5em 1em;
  outline: none;
  width: 200px;
  box-sizing: border-box;
}

body input[type="number"] {
  outline: none;
  width: 5em;
}

body textarea {
  resize: vertical;
  min-height: 5em;
  width: 200px;
  box-sizing: border-box;
}

body input[type="submit"],
body button {
  background-color: #ffe3ca;
}

.container {
  width: 600px;
  margin: 0 auto;
}

@media (max-width: 650px) {
  .container {
    width: fit-content;
  }
}

@media (max-width: 400px) {
  body {
    font-size: small;
  }
}
/*# sourceMappingURL=style.css.map */