body {
	font-family: "Montserrat", sans-serif;
	background-color: antiquewhite;

	#select-form {
		margin: 2em auto;
		padding: 1em;
		border-radius: 5px;
		box-shadow: 0px 3px 15px 5px rgba(0, 0, 0, 0.1);
		background-color: #ffffff;
		transition: 0.2s;
		> div {
			padding: 1em;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-between;
			button,
			select {
				margin-top: 1em;
			}
			input {
				margin-top: 2em;
			}
		}

		.input-files {
			border-bottom: solid 1px gray;
			input[type="file"] {
				display: none;
			}
			label {
				// color: #232323;
				background-color: rgba(192, 239, 245, 0.692);

				border: 1px solid #232323;
				position: relative;
				font-size: 14px;
				letter-spacing: 0.1em;
				padding: 5px 10px;
				transition: 0.2s ease-in-out;
				cursor: pointer;
				box-sizing: border-box;
				width: 200px;
			}
			&__input-hidden {
				visibility: hidden;
			}
			&__input-warn {
				visibility: visible;
				color: red;
			}
		}
		.select-input {
			position: relative;

			&::after {
				content: "";
				position: absolute;
				right: 15px;
				top: 50%;
				transform: rotate(45deg);
				border-bottom: solid 1px gray;
				border-right: solid 1px gray;

				z-index: 1;
				text-align: center;
				width: 10px;
				height: 10px;
				pointer-events: none;
				box-sizing: border-box;
			}
			select {
				-webkit-appearance: none;
				-moz-appearance: none;
				appearance: none;
				padding: 10px 35px 10px 15px;
			}
		}
	}
	#parse-form {
		margin: 2em auto;

		padding: 1.5em;
		margin-top: 2em;
		border-radius: 5px;
		box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
			0 6.7px 5.3px rgba(0, 0, 0, 0.048),
			0 12.5px 10px rgba(0, 0, 0, 0.06),
			0 22.3px 17.9px rgba(0, 0, 0, 0.072),
			0 41.8px 33.4px rgba(0, 0, 0, 0.086),
			0 100px 80px rgba(0, 0, 0, 0.12);
		background-color: #ffffff;
		> div {
			display: flex;
			margin-top: 1em;
		}

		.fields {
			flex-direction: column;

			text-align: center;

			&__line {
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: space-between;
				margin-top: 1em;
			}
			&__line-center {
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
				margin-top: 1em;
			}
			&__line-left {
				display: flex;
				justify-content: start;
				align-items: center;
				margin-top: 1em;

				input {
					margin-left: 1em;
				}
			}
			&__checkboxes {
				// width: 100%;

				.fields__checkbox {
					display: flex;

					align-items: center;
					margin-top: 1em;
				}
				input[type="checkbox"] {
					margin-right: 1em;
				}
				input[type="radio"] {
					margin-right: 1em;
					margin-top: 0;
				}
			}
			&__color {
				display: flex;

				align-items: center;
				span {
					width: 15px;
					height: 15px;
					border-radius: 5px;
					display: inline-block;
				}
			}
			input[type="file"] {
				display: none;
			}
			.input-file {
				// color: #232323;
				width: 200px;

				background-color: rgba(192, 239, 245, 0.692);
				border: 1px solid #232323;
				position: relative;
				font-size: 14px;
				letter-spacing: 0.1em;
				padding: 5px 10px;
				transition: 0.2s ease-in-out;
				cursor: pointer;
				font-size: 14px;
				box-sizing: border-box;
				text-align: center;
			}
		}
		.buttons {
			justify-content: space-around;
			max-width: 80%;
			margin: 2em auto 0;
		}
		.refs {
			justify-content: center;

			&__line {
				display: flex;
				align-items: center;
				a {
					margin-left: 0.2em;
				}
			}
		}
	}
	input[type="submit"],
	button,
	select {
		font-family: "Montserrat", sans-serif;
		color: #232323;
		background: transparent;
		border: 1px solid #232323;
		position: relative;
		// font-size: 14px;
		letter-spacing: 0.1em;
		padding: 0.5em 1em;
		cursor: pointer;
		outline: none;
		// font-size: 14px;
		width: 200px;
		box-sizing: border-box;
	}
	input[type="text"],
	input[type="number"],
	input[type="email"],
	input[type="date"],
	input[type="password"],
	textarea {
		font-family: "Montserrat", sans-serif;
		color: #232323;
		background: transparent;
		border: 1px solid #232323;
		position: relative;
		padding: 0.5em 1em;
		outline: none;
		width: 200px;
		// font-size: 14px;
		box-sizing: border-box;
	}
	input[type="number"] {
		outline: none;
		width: 5em;
	}
	textarea {
		resize: vertical;
		min-height: 5em;
		width: 200px;
		box-sizing: border-box;
	}
	input[type="submit"],
	button {
		background-color: rgb(255, 227, 202);
	}
}
.container {
	width: 600px;
	margin: 0 auto;
}

@media (max-width: 650px) {
	.container {
		width: fit-content;
	}
}
@media (max-width: 400px) {
	body {
		font-size: small;
	}
}
